// header {
//     overflow: hidden;
//     background-color: #e9e9e9;

//     form {
//         text-align: left;
//         button {
//             padding: 6px;
//             margin-top: 8px;
//             margin-right: 16px;
//             background: #ddd;
//             font-size: 17px;
//             border: none;
//             cursor: pointer;
//         }
//         input[type=text] {
//             padding: 6px;
//             margin-top: 8px;
//             font-size: 17px;
//             border: none;
//          }
//     }
// }
.container {
    h1 {
        text-transform: uppercase;
    }
}

.state-badge {
    margin-left: 10px;
}

.add-icon {
    font-size: 1.6em;
    color: green;
    &:hover {
        font-size: 1.8em;
        color: rgb(2, 92, 2); 
    }
    &:active {
        font-size: 1.4em;
        color: green; 
    }
}