.quantity-group input {
    width: 50px;
    padding-left: 5px;
}

.delete-icon {
    font-size: 1.6em;
    color: red;
    &:hover {
        font-size: 1.8em;
        color: rgb(255, 37, 37); 
    }
    &:active {
        font-size: 1.4em;
        color: red; 
    }
}

.update-icon {
    font-size: 1.6em;
    color: rgb(113, 187, 236);
    &:hover {
        font-size: 1.8em;
        color: #2a9ce7;
    }
    &:active {
        font-size: 1.4em;
        color: rgb(113, 187, 236);
    }
}

.alert-update-icon {
    font-size: 1.6em;
    color: yellow;
    &:hover {
        font-size: 1.8em;
        color: rgb(216, 216, 32);
    }
    &:active {
        font-size: 1.4em;
        color: yellow;
    }
}

.product-name {
   // width: 52px;
    //overflow: hidden;
    padding-top: 39px;
}

